{% load staticfiles %}
<!DOCTYPE html> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Agregar</title>

<meta http-equiv="description" content="">
<meta http-equiv="keywords" content="">


</head>
<body class="index">
<div id="header-wrapper">
<div id="header" class="content">
<ul id="top-menu">
<li class="first"><a href="/admin/">Inicia sesion</a></li>
<li class="first"><a href="/data/management">Agregar Consulta</a><a href="#"></a></li>
<li class="first"><a href="/admin/editeq">Editar Ecuaciones</a><a href="#"></a></li>
</div>
</div>
<div id="fma-wrapper">
  <div id="fma" class="content">
    <h1>Administracion de datos</h1>
</div>
</div>
<div id="stacked-featured-popular-wrapper">
  <div id="stacked-featured-popular" class="content">
    <div class="split-home">
      <div>
        <div class="column-one">
          <div id="featured-box" class="home-box">
            <p>Agregacion de Datos</p>
            <div>
              <table width="800" border="0" align="center">
                <tr>
                  <td><table width="940" border="0">
                    <tr>
                      <td><div id="csvload">
                        Cargar Archivos a Tablas
                        <input type="file" id="csvFile" onchange="handleFiles(this.files)" accept=".csv"/>
                      </div></td>
                      <td valign="middle"><form name="form2">
                        Guardar a Base de Datos
                        <input type="button" onclick="tableToJson(alldata);" name="guardar" id="guardar" value="Guardar">
                      </form></td>
                  </table></td>
                </tr>
              </table>
            </div>
            <div></div>
            <div id="consultas">
            <div>
              <input class="search" placeholder="Search" />
              <!--<button value="sort by name" class="sort" data-sort="enfermedad">-->
            
                  <input type="button" onclick="addone();" value="Nueva"/>
               
            </div> 
              <table id="alldata" width="1500" border="1" align="center">
               <thead>
               <tr>   
                  <th width="394" >Enfermedad</th>
                  <th width="272">Masculino</th>
                  <th width="272">Femenino</th>
                  <th width="193" >Total</th>
                  <th width="193" >Mes</th>
                  <th width="193" >Agno</th>
                  
               </tr>
               </thead>
                 <tbody class="list">
                  {% if lista_consultas %}
                  {% for consulta in lista_consultas %}
                <tr bgcolor="#98FB98">
                  <td width="294" class="enfermedad"><div contenteditable> {{consulta.enfermedad}} </div></td>
                  <td width="172" class="masculino"><div contenteditable> {{consulta.masculino}} </div></td>
                  <td width="172" class="femenino"><div contenteditable> {{consulta.femenino}} </div></td>
                  <td width="93" class="total"><div contenteditable> {{consulta.subtotal}}</div></td>
                  <td width="93" class="mes"><div contenteditable> {{consulta.mes}}</div></td>
                  <td width="93" class="ano"><div contenteditable> {{consulta.ano}}</div></td>
                  <td>
                  <input type="button" onclick="deleteRow(this);" value="Delete" />
                  </td>
                </tr>
                  {% endfor %}
                {% else %}
                {% endif %}
               </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer-wrapper"></div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/guardar.js' %}"></script>



