<!DOCTYPE html> 
<html>
<head>
<!-- TemplateBeginEditable name="doctitle" -->
<title>My site</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<meta http-equiv="description" content="">
<meta http-equiv="keywords" content="">
<!-- TemplateEndEditable -->
</head>
<body class="index">
<div id="header-wrapper">
<div id="header" class="content">
<ul id="top-menu">
<li class="first"><a href="Muestra de Consultas.html">Inicio</a></li>
<li class="first"><a href="Agregar Datos.html">Agregar Consulta</a><a href="#"></a></li>
<li class="first"><a href="#"></a><a href="Editar Ecuaciones.html">Editar Ecuaciones</a></li>	
<ul id="header-menu">
</ul></div>
</div>
<div id="fma-wrapper">
  <div id="fma" class="content">
    <h1>Edicion de ecuaciones</h1></div>
</div>
<div id="stacked-featured-popular-wrapper"><!-- TemplateBeginEditable name="MainContent" -->
  <div id="stacked-featured-popular" class="content">
    <div class="split-home">
      <div class="column-one">
        <div id="featured-box" class="home-box">
          <p>Editar Ecuaciones          </p>
          <table width="400" border="1" align="center">
            <tr>
              <td width="208"><form name="form1" method="post" action="">
                <label for="ec1">Ecuacion</label>
              </form></td>
              <td width="176"><input name="ec1" type="text" id="ec1" size="25"></td>
              <td width="176"><form name="form7" method="post" action="">
                <input type="submit" name="buttonec1" id="buttonec1" value="Guardar">
              </form></td>
            </tr>
            <tr>
              <td><form name="form2" method="post" action="">
                <label for="ec2">Ecuacion 2</label>
              </form></td>
              <td><input name="ec2" type="text" id="ec2" size="25"></td>
              <td><form name="form8" method="post" action="">
                <input type="submit" name="buttonec2" id="buttonec2" value="Guardar">
              </form></td>
            </tr>
            <tr>
              <td><form name="form3" method="post" action="">
                <label for="ec3">Ecuacion 3</label>
              </form></td>
              <td><input name="ec3" type="text" id="ec3" size="25"></td>
              <td><form name="form9" method="post" action="">
                <input type="submit" name="buttonec3" id="buttonec3" value="Guardar">
              </form></td>
            </tr>
            <tr>
              <td><form name="form4" method="post" action="">
                <label for="ec4">Ecuacion 4</label>
              </form></td>
              <td><input name="ec4" type="text" id="ec4" size="25"></td>
              <td><form name="form10" method="post" action="">
                <input type="submit" name="buttonec4" id="buttonec4" value="Guardar">
              </form></td>
            </tr>
            <tr>
              <td><form name="form5" method="post" action="">
                <label for="ec5">Ecuacion 5</label>
              </form></td>
              <td><input name="ec5" type="text" id="ec5" size="25"></td>
              <td><form name="form11" method="post" action="">
                <input type="submit" name="buttonec5" id="buttonec5" value="Guardar">
              </form></td>
            </tr>
          </table>
          <div class="t">
            <p>&nbsp;</p>
            <p>Tabla de Ecuaciones </p>
          </div>
          <div class="info">
            <form name="form6" method="post" action="">
            <table width="600" border="1" align="center">
                <tr>
                  <td width="300">No. de Ecuacion</td>
                  <td width="284">Nombre Ecuacion</td>
                  <td width="284">Ecuacion</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- TemplateEndEditable --></div>
<!-- footer -->
<div id="footer-wrapper"></div>
<!-- TemplateBeginEditable name="end" --><!-- TemplateEndEditable -->
</body>
</html>