<!doctype html>

<head>
<title>Morbilidad | Iniciar Sesión</title>
 {% load staticfiles %}
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<style type="text/css">
.normalpage #page #bodywrap #contentwrap #contents #normalpage #left article table tr td form {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.normalpage #page #bodywrap #contentwrap #contents #normalpage #left article table tr th form {
	text-align: center;
}
#normalpage {
	font-family: "Comic Sans MS", cursive;
}
.normalpage #page #bodywrap #contentwrap #contents #normalpage #left article #designcredit tr td form label {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.normalpage #page #bodywrap #contentwrap #contents #normalpage #left article table tr td form label {
	font-size: 16px;
	font-weight: bold;
}
.normalpage #page #bodywrap #contentwrap #contents #normalpage #left .container.body-content #alldata tr th {
	font-size: 16px;
}

#alldata {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#alldata td, #alldata th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#alldata th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
</style>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if IE 6]>
<script src="js/belatedPNG.js"></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->

</head>
<body class="normalpage">
<!-- START PAGE SOURCE -->
<section id="page">
  <div id="bodywrap">
    <section id="top">
      <nav>
        <h1 id="sitename"> <a href="/">Portfolio | Premium CSS Template </a></h1>
        <ul id="sitenav">
        <li><a href="/see">Mostrar Consultas</a></li>
        <li><a href="/management">Agregar Consultas</a></li>
        <li><a href="/editeq">Editar Ecuaciones</a></li>
        <li class="current"><a href="/extrapolate">Extrapolacion</a></li>
        <li><a href="/admin/">Sesion de administrador</a></li> 
        </ul>
      </nav>
      <header id="normalheader"></header>
    </section>
    <section id="contentwrap">
      <div id="contents">
        <div id="topcolumns">
        Debes seleccionar un año a proyectar y una ecuacion a utilizar
        <form method="POST">
                <label> Año a Proyectar</label>
                <input id="year" name="year" type="text" required>
                <label for="extrapolar"> Ecuacion</label>
                <select name="formula_name">
                  {% for forma in formulas %}
                  <option value="{{ forma.nombreec }}">{{ forma.nombreec }}</option>
                  {% endfor %}
                </select>

                <input type="submit" value="Extrapolar"></input>
        </form>
    <!--Si quieren meter algo arriba del contenido.-->
    
        </div>

        <section id="normalpage">
          <section id="left">
            <h2>Enfermedades con mas consultas</h2>
            
             <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script>
        // Este script genera el grafico 
        function init(){ //No estoy seguro si init() es necesaria, la llamo en el body onload="init();" para asegurar que el script se ejecuta
            $(function () {
                $('#container').highcharts({
                title: {
                text: 'Morbilidad mensual en El Salvador',
                x: -20 //center
            },
                subtitle: {
                text: 'Extrapolacion',
                x: -20
            },
            xAxis: {
                categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
            },

            yAxis: {
                title: {
                text: 'Consultas (Total)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
             }]
            },
        tooltip: {
            valueSuffix: ' Personas'
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: {{ graphdata|safe }}
    });
                        
            });
        }
    </script>

</head>
      
      
<body onload="init();">

    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/highcharts.js' %}"></script>
    <script src="{% static 'app/scripts/data.js' %}"></script>
    <script src="{% static 'app/scripts/exporting.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
         

<!-- Additional files for the Highslide popup effect -->
    <script src="{% static 'app/scripts/highslide-full.min.js' %}"></script>
    <script src="{% static 'app/scripts/highslide.config.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/highslide.css' %}" />

    <!-- Esta linea llama al container -->
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        
    </div>

    <div class="container body-content">
     <table id="alldata" width="900" border="1" align="center" >
               <tr> 
                  <th width="294" >Enfermedad</th>
                  <th width="172">Masculino</th>
                  <th width="172">Femenino</th>
                  <th width="93" >Total</th>
                  <th width="93" >Mes</th>
                  <th width="93" >Año</th>
               </tr>
                  {% if lista_consultas %}
                  {% for consulta in lista_consultas %}
                <tr>
                  <td width="294"> {{consulta.enfermedad}}</td>
                  <td width="172">{{consulta.masculino}} </td>
                  <td width="172"> {{consulta.femenino}}</td>
                  <td width="93" > {{consulta.subtotal}}</td>
                  <td width="93" > {{consulta.mes}}</td>
                  <td width="93" >{{consulta.ano}}</td>
                </tr>
                  {% endfor %}
                {% else %}
                {% endif %}
    </table>      
</div>

    
    </section>
          <p>&nbsp;</p>
          <div class="clear"></div>
        </section>
      </div>
    </section>
  </div>
</section>
<!-- END PAGE SOURCE -->
{% block scripts %}{% endblock %}
</body>
</html>
<script>
  $(document).ready(function () {
    
 $("#year").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
             // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
             // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    }); 

});
</script>