<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}Extrapolacion</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
       
    <script>
        // Este script genera el grafico 
        function init(){ //No estoy seguro si init() es necesaria, la llamo en el body onload="init();" para asegurar que el script se ejecuta
            $(function () {
                $('#container').highcharts({
                title: {
                text: 'Morbilidad mensual en El Salvador',
                x: -20 //center
            },
                subtitle: {
                text: 'Extrapolacion',
                x: -20
            },
            xAxis: {
                categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
            },

            yAxis: {
                title: {
                text: 'Consultas (Total)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
             }]
            },
        tooltip: {
            valueSuffix: ' Personas'
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: {{ graphdata|safe }}
    });
                        
            });
        }
    </script>

</head>

<body onload="init();">

    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/highcharts.js' %}"></script>
    <script src="{% static 'app/scripts/data.js' %}"></script>
    <script src="{% static 'app/scripts/exporting.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
         

<!-- Additional files for the Highslide popup effect -->
    <script src="{% static 'app/scripts/highslide-full.min.js' %}"></script>
    <script src="{% static 'app/scripts/highslide.config.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/highslide.css' %}" />

    <!-- Esta linea llama al container -->
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">Grafico</div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        
    </div>

    <div class="container body-content">
     <table id="alldata" width="900" border="1" align="center" >
               <tr> 
                  <th width="294" >Enfermedad</th>
                  <th width="172">Masculino</th>
                  <th width="172">Femenino</th>
                  <th width="93" >Total</th>
                  <th width="93" >Mes</th>
                  <th width="93" >Agno</th>
               </tr>
                  {% if lista_consultas %}
                  {% for consulta in lista_consultas %}
                <tr>
                  <td width="294"> {{consulta.enfermedad}}</td>
                  <td width="172">{{consulta.masculino}} </td>
                  <td width="172"> {{consulta.femenino}}</td>
                  <td width="93" > {{consulta.subtotal}}</td>
                  <td width="93" > {{consulta.mes}}</td>
                  <td width="93" >{{consulta.ano}}</td>
                </tr>
                  {% endfor %}
                {% else %}
                {% endif %}
    </table>      
</div>
{% block scripts %}{% endblock %}

</body>
</html>
