<!DOCTYPE html> 
<html>
<head>
<!-- TemplateBeginEditable name="doctitle" -->
<title>My site</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<meta http-equiv="description" content="">
<meta http-equiv="keywords" content="">
<!-- TemplateEndEditable -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body class="index">
<div id="header-wrapper">
<div id="header" class="content">
<ul id="top-menu">
<li class="first"><a href="">Inicio</a></li>
<li class="first"><a href="/data/management">Agregar Consulta</a><a href="#"></a></li>
<li class="first"><a href="Editar Ecuaciones.html">Editar Ecuaciones</a><a href="#"></a></li>
</div>
</div>
<div id="fma-wrapper">
  <div id="fma" class="content">
    <h1>Consulta de Datos</h1>
</div>
</div>
<div id="stacked-featured-popular-wrapper"><!-- TemplateBeginEditable name="MainContent" -->
  <div id="stacked-featured-popular" class="content">
    <div class="split-home">
      <div class="column-one">
        <div id="featured-box" class="home-box">
          <p>Muestra de Consultas</p>
          <p>&nbsp;</p>
          <table width="900" align="center">
            <tr>
              <td width="92"><a type="button" href="/data/extrapolate">Extrapolar</a><a href="#"></a></td>
            </tr>
          </table>
          
          <div class="info">
            <table id="alldata" width="900" border="1" align="center" >
               <tr> 
                  <th width="294" >Enfermedad</th>
                  <th width="172">Masculino</th>
                  <th width="172">Femenino</th>
                  <th width="93" >Total</th>
                  <th width="93" >Mes</th>
                  <th width="93" >Agno</th>
               </tr>
                  {% if lista_consultas %}
                  {% for consulta in lista_consultas %}
                <tr>
                  <td width="294"> {{consulta.enfermedad}}</td>
                  <td width="172"> {{consulta.masculino}} </td>
                  <td width="172"> {{consulta.femenino}}</td>
                  <td width="93" > {{consulta.subtotal}}</td>
                  <td width="93" > {{consulta.mes}}</td>
                  <td width="93" >{{consulta.ano}}</td>
                </tr>
                  {% endfor %}
                {% else %}
                {% endif %}
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- TemplateEndEditable --></div>
<!-- footer -->
<div id="footer-wrapper"></div>
<!-- TemplateBeginEditable name="end" --><!-- TemplateEndEditable -->
</body>
</html>